<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Rollete Google Search</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container" spellcheck="false">
    <section class="google-search-section">
      <img class="google-logo-image" alt="Google" src="https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
      <form class="google-search-form" action="search" method="POST">
        <main class="google-search-field">
          <input class="google-search-input" type="text" id="textFieldId" name="textField" value="" />
          <span class="google-search-voice-icon">
        </span>
        </main>
        <div class="google-search-actions">
          <button class="google-button google-search-button" type="submit">
            Google Search
          </button>
          <button class="google-button google-lucky-button" type="button">
            I'm Feeling Bad
          </button>
        </div>
      </form>
    </section>
  </div>
  <script src="js/index.js"></script>
</body>
</html>